.Form {

  $root: &;

  position: relative;
  width: 100%;

  [disabled] {

    opacity: 0.2;
    user-select: none;
    cursor: not-allowed;

  }

  &__fieldset {

    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

  }

  &__legend {

    @extend %a11y;

  }

  &__label {

    @extend %a11y;

  }

  &__input {

    font-family: $font-sans;
    width: 100%;
    padding: 15px 20px;
    border: none;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: $border-radius;
    background-color: white;

  }

}
