// Perfect Fourth Modular Scale.
// http://type-scale.com/?size=16&scale=1.333&text=Fantastic%20two%20bedroom%20flat%20available%20now&webfont=Lato&font-family=%27Lato%27%2C%20serif&font-weight=600&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333

@font-face {
  font-family: 'Futura LT W01 Light';
  src: url('./assets/fonts/futura-lt-w01-book.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {

  word-break: break-word;
  font-family: $font-headings;
  font-weight: 300;
  margin: 15px 0;
  line-height: 1.4;

}

h1,
.t-h1 {

  @extend %h1;

}

h2,
.t-h2 {
  
  @extend %h2;

}

h3,
.t-h3 {
  
  @extend %h3;

}

h4,
.t-h4 {

  @extend %h4;

}

h5,
.t-h5 {

  @extend %h5;

}

h6,
.t-h6 {

  @extend %h6;

}

strong,
b {

  font-weight: 600;

}

a {

  color: white;
  transition: color $trans-speed $trans-ease;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {

    color: map-get($brand, 'pink');

  }

}

p,
ul,
ol,
li {

  margin: 15px 0;

}

ul,
ol {

  li {

    &:last-child {

      margin-bottom: 0;

    }

  }

}

